{% extends 'Products/layout.html' %}

{% block Title %}
    Add Products
{% endblock %}

{% block Content %}

    <form class="col s12" method="post" action="{% url 'addproduct' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate" required name="name">
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <label>Select Category</label>
            <select class="browser-default" name="category">
                {% for category in categories %}

                    <option value="{{ category.id }}">{{ category.name }}</option>

                {% endfor %}

            </select>

        </div>


        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="description" required></textarea>
                <label for="textarea1">Description</label>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Photo</span>
                    <input type="file" required name="photo">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" required>
                </div>
            </div>
        </div>

        <div style="text-align: center;">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Product
                <i class="material-icons right">add</i>
            </button>
        </div>

    </form>
{% endblock %}
