{% extends 'Products/layout.html' %}

{% block Title %}
    Categories
{% endblock %}

{% block Content %}

    <div class="right-align">
        <a class="waves-effect waves-light btn" href="{% url 'addcategory' %}">
            <i class="material-icons left">add</i>
            Add Category
        </a>
    </div>

    <table class="highlight">
        <thead>
        <tr>
            <th>Name</th>
            <th>Photo</th>
        </tr>
        </thead>

        <tbody>

        {% for category in categories %}

            <tr>
                <td>{{ category.name }}</td>
                <td><img src="{{ category.photo }}" height="100"></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
