{% extends 'Products/layout.html' %}

{% block Title %}
    Products
{% endblock %}

{% block Content %}

    <div class="right-align">
        <a class="waves-effect waves-light btn" href="{% url 'addproduct' %}"><i class="material-icons left">add</i>Add
            Product</a>
    </div>

    <table class="highlight">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Photo</th>
        </tr>
        </thead>

        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.description }}</td>
                <td><img src="{{ product.photo_url }}" height="100px"></td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}
