{% extends 'Products/layout.html' %}

{% block Title %}
    Products
{% endblock %}

{% block Content %}
    <h1 style="margin-left: -100px">Categories</h1><br>
    <div class="row">

        {% for Category in Categories %}
            <div class="col s6">

                <div class="row">
                    <div class="col s12 m7">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ Category.photo }}">
                            </div>
                            <div class="card-action">
                                <a href="/viewproducts/{{ Category.id }}">{{ Category.name }}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endfor %}


    </div>

{% endblock %}
