<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Title %}

    {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">&nbsp; Products</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            {% if user.is_authenticated %}
                <li><a href="{% url 'categorymanagement' %}">Category Management</a></li>
                <li><a href="{% url 'productmanagement' %}">Product Management</a></li>
                <li><a href="{% url 'logout_view' %}">Logout</a></li>
            {% endif %}

            {% if not user.is_authenticated %}

                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container" style="margin-top: 50px">


    {% block Content %}

    {% endblock %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
