{% extends 'Products/layout.html' %}

{% block Title %}
    SignUp
{% endblock %}

{% block Content %}
    <div class="row">
        <form class="col s12" method="post" action="{% url 'signup' %}">
            {% csrf_token %}

            <div class="row">
                <div class="input-field col s12">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" required name="username">
                    <label for="username">Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" required name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn waves-effect waves-light" type="submit" name="action">Signup
                    <i class="material-icons right">lock</i>
                </button>
            </div>

        </form>
    </div>

{% endblock %}
