{% extends 'Products/layout.html' %}

{% block Title %}
    Products
{% endblock %}

{% block Content %}
    <h1 style="margin-left: -100px">Products</h1><br>

    <div class="row">

        {% for product in products %}
            <div class="col s6">
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ product.photo_url }}">
                                <span class="card-title">{{ product.name }}</span>
                            </div>
                            <div class="card-content">
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>

{% endblock %}
